body{
    font-family: 'Helvetica Neue', 'Helvetica' , 'Arial' ,sans-serif;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #102E7C;

}
.container{
    margin: 0px;
    height: 100%;
    width: 100%;
}
#signUp{
    background-color: rgba(200,200,230,0.1);
    padding: 20px;
    max-width: 400px;
    text-align: center;
    color: white;
    margin: 20px auto 140px;
}

#Sign h1{
    font-size: 36px;
}


input[type=text], input[type=password], input[type=email]{
    width: 80%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
input[type=submit]{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 10px;

}

footer{
    width: 100%;
    background-color: #335;
    color: white;
    bottom: 0px;


}
footer p{
    text-align: center;
    padding: 20px;
}


