body{
    font-family: 'Helvetica Neue', 'Helvetica' , 'Arial' ,sans-serif;
    margin: 0px;
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-image: url(img/bg.jpg);
    background-size: 100% 20%;
    background-attachment: fixed;
    text-align: center;
}

h3{
    font-size:36px;
    padding: 50px;
}

input, select {
    width: 20%;
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
}




